{% extends layout %}

{% block content %}

{% for message in app.session.flashbag.get('success') %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}

{% for message in app.session.flashbag.get('error') %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
{% endfor %}

<p class="lead">
    Welcome to your dashboard.
</p>

<div class="list-group">
    <a href="{{ url('compose') }}" class="list-group-item">Compose</a>
    <a href="{{ url('sent') }}" class="list-group-item">Sent</a>
</div>

{% endblock %}
